@{
    ViewData["Title"] = "Услуги";
}

<h1>Страница с услугами</h1>
<div class="block">
    <h3>Быстро</h3>
    <img src="~/lib/Images/2.jpg" alt="Обложка 1">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, saepe consequatur! Delectus labore voluptates illo dolorem fuga magni eveniet natus eos! Voluptatum, impedit facilis. Eum delectus fugiat voluptatibus molestiae quidem.</p>
</div>
<div class="block">
    <h3>Дешево</h3>
    <img src="~/lib/Images/3.jfif" alt="Обложка 2">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, saepe consequatur! Delectus labore voluptates illo dolorem fuga magni eveniet natus eos! Voluptatum, impedit facilis. Eum delectus fugiat voluptatibus molestiae quidem.</p>
</div>
<div class="block">
    <h3>Качественно</h3>
    <img src="~/lib/Images/4.jfif" alt="Обложка 3">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, saepe consequatur! Delectus labore voluptates illo dolorem fuga magni eveniet natus eos! Voluptatum, impedit facilis. Eum delectus fugiat voluptatibus molestiae quidem.</p>
</div>